.calculator {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
  border: 1px solid orange;
}

.calculator__display {
  height: 85px;
  margin-bottom: 18px;
  padding: 10px 15px;
  background-color: rgb(95, 93, 93);
  font-size: 28px;
  text-align: right;
  vertical-align: bottom;
  color: white;
}

.calculator__history {
  font-size: 14px;
  margin: 0;
}

.calculator__expression {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin: 0;
}

.calculator__controls {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
}

.calculator__button {
  padding: 8px 16px;
  background-color: rgb(240, 240, 240);
  font-size: 20px;
  border: 0px;
  border-radius: 3px;
}

.calculator__button:hover {
  background-color: rgb(201, 198, 198);
  cursor: pointer;
}

.calculator__button_del {
  background-color: palevioletred;
  color: #fff;
}

.calculator__button_del:hover {
  background-color: rgb(209, 78, 122);
}

.calculator__button_clear {
  background-color: rgb(255, 59, 141);
  color: #fff;
}

.calculator__button_clear:hover {
  background-color: rgb(255, 0, 106);
}

.calculator__button_match {
  background-color: orange;
  color: #fff;
}

.calculator__button_match:hover {
  background-color: rgb(240, 156, 1);
}

.calculator__button:active {
  background-color: rgb(65, 65, 65);
  color: #fff;
}